body {
    background-color: #ffeec6;
    width: 100%;
    color: black;
    font-family: Helvetica;
    text-align: center;
    margin: auto;
     
}

main {
    width: 75%;
    background-color: rgb(255, 255, 255);
    margin: auto;  
   
    
 }

 h1 {  
    padding: 40px 0 20px 0;
    text-align: center;  
    background-color: white; 
    margin:auto;   
 }

 h2 {
   height: 125px;
   padding: 125px 20px 0 0;
    
 }

 #gallery {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   padding: 4  0px;  
   
 }

 .artObject {
   border-radius: 5%;
   transition: .2s;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .artObject:hover {
   transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }

 a {
    padding: 20px;
 }

 footer {
     margin: auto;
     padding: 20px 0 20px 0;
     background-color: white;
     width: 75%;
 }