body {
    background-color: #FFBA00;
    width: 100%;
    color: black;
    font-family: Helvetica;
    text-align: center;
    margin: auto;
     
}

main {
    width: 85%;
    background-color: rgb(255, 255, 255);
    margin: auto;    
 }

 h1 {  
    padding: 40px 0 20px 0;
    text-align: center;      
 }

 h2 {
   margin: auto;
}

 #gallery {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: flex-start;
 }

 .art {
    padding: 10px;
    margin: auto;
 }

 footer {
     margin: auto;
     padding: 20px 0 20px 0;
     background-color: #FFBA00;
     width: 85%;
 }