body {
    background-color: #FFBA00;
    width: 100%;
    color: black;
    font-family: Helvetica;
    text-align: center;
    margin: auto;
     
}

main {
    width: 85%;
    background-color: rgb(255, 255, 255);
    margin: auto;    
    
 }

 h1 {  
    padding: 40px 0 20px 0;
    text-align: center;      
 }

 h2 {
   height: 125px;
   padding: 125px 20px 0 0;
 }

 #gallery {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   padding: 20px;  
   
 }

 .artObject {
   border-radius: 5%;
   transition: .2s;
 }

 .artObject:hover {
   transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }

 a {
    padding: 20px;
 }

 footer {
     margin: auto;
     padding: 40px 0 20px 0;
     background-color: #FFBA00;
     width: 85%;
 }